[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=@Webcatalogdesktop
Comment=@Webcatalogdesktop
Exec=/tmp/.mount_WebCatKTrVpI/@webcatalogdesktop
Terminal=false
StartupNotify=true
