[Desktop Entry]
Version=1.0
Name=bahn.de
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/mbrandt/.local/share/ice/icons/bahnde.png" firefox --class WebApp-bahnde4180 --profile /home/mbrandt/.local/share/ice/firefox/bahnde4180 --no-remote "http://bahn.de"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mbrandt/.local/share/ice/icons/bahnde.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-bahnde4180
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://bahn.de
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
