[Desktop Entry]
Version=1.0
Name=Freelancer
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/mbrandt/.local/share/ice/icons/Freelancer.png" firefox --class WebApp-Freelancer5140 --profile /home/mbrandt/.local/share/ice/firefox/Freelancer5140 --no-remote "http://freelancer.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mbrandt/.local/share/ice/icons/Freelancer.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Freelancer5140
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://freelancer.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

