[Desktop Entry]
Version=1.0
Name=kleinanzeigen chemnitz
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/mbrandt/Downloads/kleinanzeigen.ico" firefox --class WebApp-kleinanzeigenchemnitz2059 --profile /home/mbrandt/.local/share/ice/firefox/kleinanzeigenchemnitz2059 --no-remote "https://www.kleinanzeigen.de/stadt/chemnitz"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mbrandt/Downloads/kleinanzeigen.ico
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-kleinanzeigenchemnitz2059
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.kleinanzeigen.de/stadt/chemnitz
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
