[Desktop Entry]
Version=1.0
Name=outlook
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="live" firefox --class WebApp-outlook6209 --profile /home/mbrandt/.local/share/ice/firefox/outlook6209 --no-remote "http://outlook.live.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=live
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-outlook6209
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://outlook.live.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
