[Desktop Entry]
Version=1.0
Name=instagram.com
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-instagram" firefox --class WebApp-instagramcom7239 --profile /home/mbrandt/.local/share/ice/firefox/instagramcom7239 --no-remote "https://www.instagram.com/direct/inbox/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-instagram
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-instagramcom7239
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.instagram.com/direct/inbox/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

