[Desktop Entry]
Version=1.0
Name=Telegram
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-telegram" firefox --class WebApp-Telegram5850 --profile /home/mbrandt/.local/share/ice/firefox/Telegram5850 --no-remote "http://web.telegram.org"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-telegram
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Telegram5850
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://web.telegram.org
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
