[Desktop Entry]
Version=1.0
Name=haspa
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/mbrandt/.local/share/ice/icons/haspa.png" firefox --class WebApp-haspa4896 --profile /home/mbrandt/.local/share/ice/firefox/haspa4896 --no-remote "http://haspa.de"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mbrandt/.local/share/ice/icons/haspa.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-haspa4896
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://haspa.de
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
